<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://lavaill.github.io/snd-tatourmi-templates/mothershipThermal.css">
</head>
<body>

    <div class="meta-grid">
        <span>REF: {{it.id | safe}}</span>
        <span>GM_EYES_ONLY</span>
    </div>

    <div class="divider-dashed"></div>

    <h1>{{it.title | safe}}</h1>

    <div class="meta-grid">
        <span class="comm-line" style="text-transform: uppercase">
            <span class="bold">>></span>{{it.location | safe}}
        </span>
        <span style="text-transform: uppercase">{{it.locationRef | safe}}</span>
    </div>

    <div style="border-bottom: var(--border-thick)"></div>

    <div class="pt-2">
        <span class="bold">SITREP:</span> {{it.summary | safe}}
    </div>

    <h2>Cast</h2>
    <table>
        <tbody>
            {% for npc in it.cast %}
            <tr>
                <td>
                    <div class="bold">{{npc.name | safe}}</div>
                    <div class="small-text">"{{npc.tagline | safe}}"</div>
                </td>
                <td class="small-text">
                    <div><span class="bold">Q:</span> {{npc.quirk | safe}}</div>
                    <div><span class="bold">W:</span> {{npc.want | safe}}</div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Scenes</h2>
    {% for scene in it.scenes %}
    <div class="comm-line" style="margin-bottom: 10px;">
        <span class="bold">>></span> {{scene.desc | safe}}
    </div>
    <div class="divider-dashed"></div>
    {% endfor %}

    <h2>Keepsakes</h2>
    <table>
        <thead>
            <tr>
                <th style="width: 30%">TYPE</th>
                <th style="width: 70%">DESC</th>
            </tr>
        </thead>
        <tbody>
            {% for item in it.rewards %}
            <tr>
                <td class="bold">{{item.type | safe}}</td>
                <td class="small-text">{{item.desc | safe}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center small-text mt-3">
        *** END OF RECORD ***
    </div>

</body>
</html>
