<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://lavaill.github.io/snd-tatourmi-templates/mothershipThermal.css">
</head>
<body>

    <h1>{{it.missionName | safe}}</h1>

    <div class="meta-grid">
        <span>CLI: {{it.client | safe}}</span>
        <span>ID: {{it.id | safe}}</span>
    </div>

    <div class="desc-box">
        {{it.missionDescription | safe}}
    </div>

    <div class="checklist-container">
        {% for param in it.params %}
        <div class="check-item">
            <span>{{param.name | safe}}:</span>
            <span class="small-text text-center">{{param.info | safe}}</span>
            <span>{{param.checkbox | safe}}</span>
        </div>
        {% endfor %}
    </div>

    {% for warn in it.warnings %}
    <div class="warning-box">
        /!\ {{warn.text | safe}} /!\
    </div>
    {% endfor %}

    <table>
        <thead>
            <tr>
                <th style="width: 60%">Objective</th>
                <th style="width: 25%">Pay</th>
                <th style="width: 15%">OK</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in it.objectives %}
            <tr>
                <td>{{obj.objective | safe}}</td>
                <td>{{obj.pay | safe}}</td>
                <td>[ ]</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="calc-grid">
        <div>
            <div class="small-text bold text-center">HAZARD LEVEL</div>
            <div class="defcon-scale">
                <div class="defcon-lvl {{ 'defcon-active' if it.hazard == 1 }}">1</div>
                <div class="defcon-lvl {{ 'defcon-active' if it.hazard == 3 }}">3</div>
                <div class="defcon-lvl {{ 'defcon-active' if it.hazard == 5 }}">5</div>
                <div class="defcon-lvl {{ 'defcon-active' if it.hazard == 8 }}">8</div>
                <div class="defcon-lvl {{ 'defcon-active' if it.hazard == 13 }}">13</div>
            </div>
        </div>
        <div class="calc-box">
            <div class="small-text bold">On Completion</div>
            <div class="bold" style="font-size: var(--font-xl);">
                {{it.missionPay.text | safe}}<span class="small-text">{{it.missionPay.unit | safe}}</span>
            </div>
        </div>
    </div>

    <div class="signature-wrapper">
        <div class="sig-lines">
            <div class="signature-label">Contractor signature</div>
            <div class="signature-line"></div>
        </div>
        <div class="stamp-box">Complete</div>
    </div>

</body>
</html>
