<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://raw.githack.com/Lavaill/PublicStylesheets/main/mothership.css">
</head>
<body>

    <h1>DEBIT NOTICE // O2 TAX</h1>

    <div class="payment-focus">
        <div class="side-detail">
            DBT: REC<br>
            TM : {{it.timer | safe}}
        </div>
        
        <div class="cost-hero">{{it.price}}<span class="small-text">CR</span></div>

        <div class="side-detail">
            HS: +1/+3<br>
            CR: PRSPR
        </div>
    </div>

    <div class="debit-box">
        <div class="debit-entry">
            <div>> BREATHE: Reduce one stress when paid</div>
            <div class="divider-dashed"></div>
            <div>> PROSPER: Increase any save by one for +900cr</div>
        </div>
        <div class="stamp-square-flat">
            OFFICIAL<br>STAMP
        </div>
    </div>

    <div class="divider-dashed"></div>
    <div class="quote-block">
        {{it.quote | safe}}
    </div>
    <div class="divider-dashed"></div>

    <div class="divider-dashed"></div>
    
    <div class="text-center small-text">
        PROSPERO'S-DREAM LIFE SUPPORT AUTHORITY 
    </div>

</body>
</html>
